#logo {
  background-color: #F6F6F6;
}

.brand {
  max-width: 100%;
  height: 200px;
}

.list {
  width 300px;
  background-color: #2B2B2B;
  border-radius: 10px;
}

pre {
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
}

body {
  background-color: #E9E581;
}

#user-input {
  background-color: #F6F6F6;
  border-radius: 10px;
  margin-top: 23px;
}

.title {
  font-weight: 300;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.headDivider {
  background-color: #2B2B2B;
}

button.btn-floating {
    border: none;
    margin-right: 20px;
    margin-top: 5px;;
}

.enterbtn {
  margin-bottom: 10px;
}
